:root {
    --mainColor: #A0E7E5;
    --secondColor: #78C1F3;
    --borderColor: #2FA4FF;
    --mainFont: 'Pacifico', cursive;
    --secondFont: 'Righteous', cursive;
}
::selection {
    color: #ffffff;
    background-color: var(--secondColor);
}
body {
    background-color: var(--mainColor) !important;
}
.container h1 {
    font-family: var(--mainFont);
    font-size: 3rem;
    position: relative;

}
.container h1:hover::before {
    height: 70%;
}
.container h1::before {
    content: "";
    width: 21%;
    height: 30%;
    background-color: var(--borderColor);
    position: absolute;
    bottom: -2px;
    z-index: -1;
    transition: all 0.4s ease-in;
}
.contentSite {
    border-bottom: 3px dotted var(--borderColor);
    border-top: 3px dotted var(--borderColor);
    margin-top: 6%;
    box-shadow: 15px 20px 10px 5px rgba(0, 0, 0, 0.1);
}
.contentSite h2 {
    background-image:linear-gradient(90deg, rgba(5,191,219,1) 24%, rgba(5,191,219,1) 53%, rgba(39,225,193,1) 80%);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 2.5rem;
    font-size: 25px;
    font-family:var(--secondFont);
}
.direction{
    
    display: none;
    width:100% ;
    height: 100vh;
  
  
}
.caption{
    width: 60%;
    height: 50%;
    background-color:#FBE7C6;
}
.caption h1{
    margin-top: 3rem;
    margin-bottom: 2rem;
  background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image:linear-gradient(90deg, rgba(5,191,219,1) 24%, rgba(5,191,219,1) 53%, rgba(39,225,193,1) 80%);
}
.icon{
    position: relative;
}
.caption .icon i{
    position: absolute;
    color: rgb(195, 179, 179);
    top: 0px;
    right:5%;
    cursor: pointer;
}
.iconsGroup p{
    font-size: 2rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image:linear-gradient(90deg, rgba(5,191,219,1) 24%, rgba(5,191,219,1) 53%, rgba(39,225,193,1) 80%);
    text-align: center;
    text-transform: capitalize;

}